@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  font-family: "Inter";
  color: black;
}

.body {
  margin: 10px 10px 0px 10px;
}

.introduction .introduction__name {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.introduction .introduction__job {
  margin-bottom: 50px;
  font-size: 64px;
  font-weight: bold;
}

.about-me {
  margin-bottom: 50px;
}
.about-me .about-me__description {
  text-align: center;
}
.about-me img {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.about-me p {
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}

.skillset {
  text-align: center;
}
.skillset .skillset__title {
  margin-top: 100px;
}
.skillset p {
  line-height: 30px;
  font-size: 20px;
}
.skillset .software {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-title {
  text-align: center;
}

.projects {
  margin-bottom: 100px;
}
.projects .projects__customer {
  font-size: 25px;
  margin-top: 0;
}
.projects .projects__frontend {
  margin-bottom: 0;
}
.projects .projects__button {
  font-weight: bold;
  padding: 10px 10px;
}

.footer {
  background-color: black;
  height: 100px;
}
.footer .footer__logos {
  display: flex;
  justify-content: center;
}
.footer .footer_email {
  color: white;
  text-align: center;
  align-items: end;
}

@media screen and (max-width: 320px) {
  .mobile-only {
    display: none;
  }

  .navigation {
    display: none;
  }

  .introduction img {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }
  .navigation .navigation__name {
    font-weight: bold;
  }
  .navigation .navigation__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 500px;
  }
  .navigation .navigation__list--contact {
    font-weight: bold;
    padding: 10px 10px;
  }

  .introduction {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.05fr 1.5fr;
    grid-template-areas: "introduction__name introduction__image" "introduction__job introduction__image";
  }
  .introduction .introduction__job {
    grid-area: introduction__job;
  }
  .introduction .introduction__name {
    grid-area: introduction__name;
  }
  .introduction .introduction__image {
    grid-area: introduction__image;
  }

  .about-me {
    display: grid;
    grid-template-columns: 0.4r 2r;
    grid-template-rows: 1r 3r;
    grid-template-areas: "image title" "image writing";
  }
  .about-me .about-me__image {
    grid-area: image;
  }
  .about-me .about-me__description {
    grid-area: title;
  }
  .about-me .about-me__text {
    grid-area: writing;
  }

  .skillset .software {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-title {
    text-align: center;
    margin-bottom: 50px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .footer .footer__logos {
    height: 20px;
  }
}